body{
    padding: 25px;
      background-color:none;
  }
  .l{
    color: aliceblue;
    background-color: #4B70F5;
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: center;

    }

    .list{
        padding: 10px 20px;
    }
